<%- layout('layouts/main.ejs') %>
<div style="margin: 0px 20%; margin-top: 50px; text-align: center;">
    <h1>NodeJS login passport</h1>

    <a href="signup" class="btn btn-primary" role="button" data-bs-toggle="button">Sign up</a>
    <a href="signin" class="btn btn-secondary" role="button" data-bs-toggle="button">Sign in</a>
</div>